
<div style="min-height: 400px; width: 840px;">
<%= @content %>

</div>

<div class="clear_line"> </div>

  <h1 style="margin-top: 30px;">
    <% if ru? %>
      <%= link_to 'Новости', '/news'%>
    <% else %>
      <%= link_to 'News', '/news'%>
    <% end %>
  </h1>


<div class="informers">
  <!-- Информер курса валют -->
<a href="http://monavista.ru/informer_kurs_valut/" title="информер курса валют" ><img border="1" name="Sample" src="http://pics.rbc.ru/img/grinf/usd/usd_dm_cb_000066_88x61.gif" width="88" height="61" alt="" /></a>
<!-- Информер курса валют -->



<a href="http://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*http://pogoda.yandex.ru/saint-petersburg"><img src="http://info.weather.yandex.net/saint-petersburg/3.ru.png" border="0" alt=""/><img width="1" height="1" src="http://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*http://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
</div>

<% for news_item in @news do %>
<div class="press_box2 press_box_ind" style="margin-left: 0px;">

  <h2>
    <%=link_to news_item.title , {:controller=>'main' ,:action=>'news_item' ,:id=>news_item.id} if ru?%>
    <%=link_to news_item.title_en , {:controller=>'main' ,:action=>'news_item' ,:id=>news_item.id} unless ru?%>
  </h2>
  <span style="font-style: italic;"><%= news_item.created_at.strftime("%d")+'.'+ news_item.created_at.strftime("%m")+'.'+ news_item.created_at.strftime("%Y") + '.'%></span><br/>
  <%= if ru? then news_item.notice else news_item.notice_en end %><br/>
  <%=link_to 'читать&nbsp;далее...' , :controller=>'main' ,:action=>'news_item' ,:id=>news_item.id if ru?%>
  <%=link_to 'read&nbsp;more...' , :controller=>'main' ,:action=>'news_item' ,:id=>news_item.id unless ru?%>
</div>

<% end %>



