
<h1><%=@title %>  </h1>

<div class="press_box">
  <span style="float: right;"> <%= @news_item.created_at.strftime("%d")+'.'+ @news_item.created_at.strftime("%m")+'.'+ @news_item.created_at.strftime("%Y")%> </span>
   <span style="float: right; margin-right: 20px;"> <%#= @news_item.magazin  %> </span>


<p>
 <%=  @news_item.content if ru?%>
 <%=  @news_item.content_en unless ru?%>
 </p>




  </div>
  <div style="clear: both;"></div>
<div style="margin-top: 10px">
<%=link_to 'Все новости' ,'/press/news' if ru?%>
<%=link_to 'All News' ,'/press/news' unless ru?%>
</div>

