

 

<h1><%= if ru? then @content.title else @content.title_en end %>  </h1>



<div style="display: inline-block; "> <%= if ru? then @content.content else @content.content_en end %>


</div>


<% if ru? %>
  <% if @content.modul != '' and @content.modul != nil %>
    <div id="modul">
    
     <%= render :partial => "/modul/#{@content.modul}" %>
    
    </div>
  <% end %>
<% end %>

<% unless ru? %>
  <% if @content.modul_en != '' and @content.modul_en != nil %>
    <div id="modul">
    
     <%= render :partial => "/modul/#{@content.modul_en}" %>
    
    </div>
  <% end %>
<% end %>