
<h1><%=@title %>  </h1>
  <%=link_to 'Вернуться в раздел «СМИ о компании» ' , '/press/media' if ru? %>
  <%=link_to 'Back to all media news' , '/press/media' unless ru? %>
<div class="press_box">
  <span style="float: right;"> <%= @smi.created_at.strftime("%d")+'.'+ @smi.created_at.strftime("%m")+'.'+ @smi.created_at.strftime("%Y")%>. </span>
  <!-- noindex -->
   <span style="float: right; margin-right: 10px;"> <%= link_to @smi.magazin, @smi.magazin_link, { :rel => 'nofollow', :style => "color: #8FD7A1;", :target => "_blank" }  %> </span>
   <!--/ noindex -->
<h2> <%= @smi.title  %>  </h2>

<p>
 <%=  @smi.content if ru?%>
 <%=  @smi.content_en unless ru?%>
</p>

<p style="display: inline; color: #6f6f6f; vertical-align: bottom; float:left; margin-top: 3px; margin-right: 10px;">Поделиться ссылкой:</p>

<div class="share42init" data-title="<%=j @smi.title %>" data-image="http://corporate.zhivojoffice.ru/images/logo_rus_share.jpg" data-img="http://corporate.zhivojoffice.ru/images/logo_rus_share.jpg" data-description="<%=j @smi.notice %>" data-url="<%=j request.url %>"></div>
<script type="text/javascript" src="http://corporate.zhivojoffice.ru/share42/share42.js"></script>


  </div>
  <div style="clear: both;"></div>
  <%=link_to 'Вернуться в раздел «СМИ о компании» ' , '/press/media' if ru? %>
  <%=link_to 'Back to all media news' , '/press/media' unless ru? %>
<div class="clear_line"> </div>

