
<div style="border: 2px solid green; height: 300px; overflow: auto; padding: 10px; width: 810px;">
<% @news_items = NewsItem.find :all ,:order=>'created_at desc' %>

 <%= link_to 'Создать новость', new_news_item_path %>

<% @news_items.each do |news_item| %>
<div class="press_box">
  

<h2>  <span style=" color: #808285;"> <%= news_item.created_at.strftime("%d")+'.'+ news_item.created_at.strftime("%m")+'.'+ news_item.created_at.strftime("%Y")%> </span>
<%= news_item.title  %>
</h2>

<p>
 <%=  news_item.notice %><br/>
 <%= link_to 'Редактировать', edit_news_item_path(news_item) %> | <%= link_to 'Посмотреть', news_item %> |
<%= link_to 'Х', news_item, :confirm => 'Точно?', :method => :delete , :style=>'color: red'%>



 </p>

<div class="clear_line"> </div>
</div>
<% end %>
  <%= link_to 'Создать новость', new_news_item_path %>
</div>