<div style="border: 2px solid green; height: 300px; overflow: auto; padding: 10px; width: 880px;">

  <%= link_to 'Доавить статью', new_smi_path %>

<% @smi = Smi.find :all ,:order=>'created_at desc' %>

<% @smi.each do |smi| %>
<div class="press_box">
  
<h2>
  <span style="color: #808285;"> <%= smi.created_at.strftime("%d")+'.'+ smi.created_at.strftime("%m")+'.'+ smi.created_at.strftime("%Y")%>. </span>
   <span style="margin-right: 20px;color: #808285;"> <%= smi.magazin  %> </span> <%= smi.title  %>
</h2>

  <p>
  <%= link_to 'Редактировать', edit_smi_path(smi) %> |  <%= link_to 'Посмотреть', smi %> |
  <%= link_to 'Х', smi, :confirm => 'Точно?', :method => :delete , :style=>'color:red;'%>
  </p>
<div class="clear_line"> </div>
</div>
<% end %>
  <%= link_to 'Доавить статью', new_smi_path %>
</div>
