
<h1>Редактирование пресс-релизов </h1>



 <%= link_to 'Новый пресс-релиз', new_pressreliz_path %>

<% @pressrelizs.each do |pressreliz| %>
<div class="press_box">


<h2>  <span style=" color: #808285;"> <%= pressreliz.created_at.strftime("%d")+'.'+ pressreliz.created_at.strftime("%m")+'.'+ pressreliz.created_at.strftime("%Y")%> </span>
<%= pressreliz.title  %>
</h2>
  <p> <%= pressreliz.notice%>  </p>
<p>
 <%=  truncate(pressreliz.content,290) %> <br/>
 <%= link_to 'Редактировать', edit_pressreliz_path(pressreliz) %> |  <%= link_to 'Посмотреть', pressreliz %> |
<%= link_to 'Х', pressreliz, :confirm => 'Точно?', :method => :delete , :style=>'color: red'%>



 </p>

<div class="clear_line"> </div>
</div>
<% end %>
  <%= link_to 'Новый пресс-релиз', new_pressreliz_path %> <br/>
   <%= link_to 'Вернуться в главное меню', :controller=>'admin' %>




