
<div class="edit_menu">
<h1>Новый пресс-релиз</h1>
 <%= link_to 'Вернуться в главное меню', :controller=>'admin' %>
  <br/>
  <%= link_to 'Вернуться к редактированию пресс-релизов', pressrelizs_path %>
 <br/>

<% form_for(@pressreliz) do |f| %>
  <%= f.error_messages %>
  <p>
 <%= f.label 'Дата размещения' %><br />
  <%= f.date_select( :created_at , :order=>[:day, :month, :year])  %></p>

  <p>
    <%= f.label 'Заголовок' %><br />
    <%= f.text_field :title , :style=>'width: 100%'%>
  </p>

      <p>
    <%= f.label 'Анонс' %><br />
    <%= f.text_area :notice %>
  </p>

    <p>
    <%= f.label 'Контент' %><br />
   <%= f.cktext_area :content, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px'  %>
  </p>
<hr/>
    <p>
    <%= f.label 'Заголовок EN' %><br />
    <%= f.text_field :title_en  , :style=>'width: 100%'%>
  </p>
  
        <p>
    <%= f.label 'Анонс EN' %><br />
    <%= f.text_area :notice_en %>
  </p>



  <p>
    <%= f.label 'Контент EN' %><br />
   <%= f.cktext_area :content_en, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px'  %>
  </p>

  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>
  <br/>
  <%= link_to 'Вернуться к редактированию пресс-релизов', pressrelizs_path %>
 <br/>
  <%= link_to 'Вернуться в главное меню', :controller=>'admin' %>

</div>