<h1> Вы искали: <%= session[:search] %>  </h1>
<div>
<% if @find_l2.any? or @find_l3.any? or @find_smi.any? or @find_press.any?  %>
<h2  style="color: green;">По вашему запросу найдено: </h2>
<% else %>
<h2 style="color: black;">По вашему запросу ничего не найдено </h2>
<% end %>
</div>
<% if @find_l3.any? or @find_l2.any? %>
<h2>Разделы сайта </h2>
<div style="margin-bottom: 15px;">
  
<% for l2 in @find_l2 do %>

  <a href="/<%=l2.menu_l1.url -%>/<%=l2.url -%>" > <%= l2.title %> </a> <br/>

<% end if @find_l2%>

<% for l3 in @find_l3 do %>

  <a href="/<%=l3.menu_l2.menu_l1.url -%>/<%=l3.menu_l2.url -%>/<%=l3.url -%>" > <%= l3.title %> </a> <br/>

<% end %>

</div>
<% end %>


<% if @find_smi.any? %>
 <h2>Сми о компании </h2>
<div  style="margin-bottom: 15px;">
 
<% for smi in @find_smi do %>

  <a href="/main/smi/<%= smi.id %>" > <%= smi.title %> </a> <br/>

<% end if @find_smi%>
</div>
<% end %>

<% if @find_press.any? %>
  <h2>Пресс-релизы </h2>
<div style="margin-bottom: 15px;">
 
<% for pr in @find_press do %>

  <a href="/main/press/<%= pr.id %>" > <%= pr.title %> </a> <br/>

<% end if @find_press%>
</div>
<% end %>

<% if @find_news.any? %>
  <h2>Новости </h2>
<div style="margin-bottom: 15px;">

<% for pr in @find_news do %>

  <a href="/main/news_item/<%= pr.id %>" > <%= pr.title %> </a> <br/>

<% end if @find_news%>
</div>
<% end %>