


<div class="edit_menu">
<h1>Редактирование статьи «СМИ о компании»</h1>
 <%= link_to 'Вернуться в главное меню', :controller=>'admin' %>
  <br/>
  <%= link_to 'Вернуться к редактированию «СМИ о компании»', smis_path %>
 <br/>

<% form_for(@smi) do |f| %>
  <%= f.error_messages %>
 <p>
 <%= f.label 'Дата размещения' %><br />
  <%= f.date_select( :created_at , :order=>[:day, :month, :year])  %></p>

   <p>
    <%= f.label 'Издание' %><br />
    <%= f.text_field :magazin %>
  </p>
  
  <p>
    <%= f.label 'Ссылка на издание' %><br />
    <%= f.text_field :magazin_link %>
  </p>

  <p>
    <%= f.label 'Заголовок' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label 'Анонс' %><br />
    <%= f.text_area :notice, :cols => "5", :rows => "5" %>
  </p>
  <p>
    <%= f.label 'Контент' %><br />
    <%= f.cktext_area :content, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px'  %>
  </p>

  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>
  <br/>
  <%= link_to 'Вернуться к редактированию пресс-релизов', smis_path %>
 <br/>
  <%= link_to 'Вернуться в главное меню', :controller=>'admin' %>

</div>

