<h1>Прсмотр статьи «СМИ о компании» </h1>

<%= link_to 'Редактировать', edit_smi_path(@pressreliz) %> |
<%= link_to 'Вернуться к редактированию «СМИ о компании»', smis_path %> |
<%= link_to 'Вернуться в главное меню', :controller=>'admin' %>

<div class="press_box">
  <span style="float: right;"> <%= @smi.created_at.strftime("%d")+'.'+ @smi.created_at.strftime("%m")+'.'+ @smi.created_at.strftime("%Y")%> </span>
   <span style="float: right; margin-right: 20px;"> <%= @smi.magazin  %> </span>
<h2> <%= @smi.title  %>  </h2>

<p>
 <%=  @smi.content%>
 </p>

<div class="clear_line"> </div>
</div>

<%= link_to 'Редактировать', edit_smi_path(@pressreliz) %> |
<%= link_to 'Вернуться к редактированию «СМИ о компании»', smis_path %> |
<%= link_to 'Вернуться в главное меню', :controller=>'admin' %>
