
<h1><%=@title %>  </h1>
<br/>
<h2> Для редактирования кликните на сылку с названием страницы </h2>
<div class="tree">
<% @edit_menu.each do |menu| %>

<h3 style="<%= 'background-color: #808285;'  unless menu.vis %>">
  <% unless menu.vis %>
  <span style="color: black;">Меню отключено </span>
  <% end %>
<%= link_to 'Редактировать ' + menu.title , {:controller=>'menu_l1s' , :action=>'edit' , :id=>menu.id} %>

  <%=link_to '(Добавть страницу)' , {:controller=>'menu_l2s' , :action=>'new' , :id=>menu.id} , :style=>'float: right; font-size: 15px;  margin-right: 15px;' %>
</h3>

  <% unless menu.menu_l2.empty? %>
    <ul style="margin-left: 40px;">
    <% @menu_l2 =  menu.menu_l2.sort{|a,b| a.ord <=> b.ord } %>
    <% @menu_l2.each do |menu2| %>

      <li  style="background-color: <%= cycle('white','#e6e7e8') -%>">

         <h4> <%= menu2.ord  %> 
         <%  unless menu2.vis %> <span style="color:black;"> Меню отключено </span> <% end %>
         <%=link_to menu2.title , {:controller=>'menu_l2s' , :action=>'edit' , :id=>menu2.id} %>
         <%= link_to 'X' , {:controller=>'menu_l2s' , :action=>'del' , :id=>menu2.id} , :confirm=>"Точно удалить меню #{menu2.title}?" , :style=>'color: red; float: right;' , :title=>'Удалить' %>
           <%=link_to 'Добавть страницу (подпункт меню)' , {:controller=>'menu_l3s' , :action=>'new' , :id=>menu2.id}  , :style=>'float: right; font-weight: bold; color:#00ae4d; margin-right: 15px;'%>
         </h4>
      <% unless menu2.menu_l3.empty? %>

           <span style="cursor: pointer;" onclick="tog('ul<%=menu2.id%>')"> раскрыть/закрыть </span>

        <ul style="margin-left: 30px; display: none" id="ul<%=menu2.id%>">
        
        <%menu2.menu_l3.each do |menu3|%>
          <li><%  unless menu3.vis %> <span style="color:red;"> Меню отключено </span> <% end %>
          <%=link_to menu3.title , {:controller=>'menu_l3s' , :action=>'edit' , :id=>menu3.id} %>
           <%= link_to 'X' , {:controller=>'menu_l3s' , :action=>'del' , :id=>menu3.id} ,  :confirm=>"Точно удалить меню #{menu3.title}?" , :style=>'color: red; ' , :title=>'Удалить' %>
          </li>
        <% end %>
         
        </ul>
      <% end %>
      </li>
   
    <% end %>
      </ul>
  <% end %>

<% end %>
</div>