<% form_for(:cat1img , :url=>{:controller=>'admin', :action=>'ulpd' },:html=>{:multipart => true} ) do |form| %>

<input type='hidden' name='MAX_FILE_SIZE' value='2000000'/>
<p>
    <%= form.file_field :pic %>

  </p>

  <p>
    <%= form.submit "Сохранить" %>
  </p>
<% end %>