
.floatleft {float:left;}
.ddheader {}
.ddcontent {position:absolute; overflow:hidden; width:208px; display:none; background:#fff; z-index:1200}
.ddinner {width:204px; border:2px solid #0066ff;; border-top:none;
         }
.ddinner ul {display:block; list-style:none; margin:0; padding:0; background:white;}
.ddinner li {margin:0; padding:5px; cursor:pointer}
.ddinner li:hover {background:#0066ff;}
.underline {border-bottom:1px solid #0066ff;}
.ddinner li:hover a {color: white;}
.underline a {color: #808285;}
