
*{ padding: 0px; margin: 0px;}
body, html {  color: #808285; height: 100%;
   /* background-color: #3EC4FF ;
    background-attachment:  scroll;
    background-position: top center;
    background-repeat: repeat-y ;

   */
   background: url('/images/bg.png') top left repeat  powderblue;
   background-color: powderblue;
}

body {  

    
    

}

body, p, ol, ul, td {
  font-family:  Trebuchet MS;
  font-size:   16px;
  line-height: 20px;
  color: #0A246A ;
  
 
}

p {margin-bottom: 10px;}

iframe , .cke_contents {height: 600px;}

iframe h1, h1 , h1 a {color: #0066ff; margin-bottom: 5px; line-height: 26px; font-size: 22px; text-decoration: none; font-family:  Trebuchet MS; font-weight: normal;}

iframe h2, h2 , h2 a {
    font-family:  Trebuchet MS;
    color:  #0066FF;
    margin-bottom: 5px;
    line-height: 26px;
    font-size:16px;
    margin-top: 5px;
    clear: both;
    text-decoration: none;
    display: inline-block;
    clear: both;
}



h3 {font-size: 14px; color: #3EC4FF; font-style: italic; margin-bottom: 15xpx; margin-top: 10px;   }

h3 a {
  color: #6f6f6f;
  text-decoration: none;
}

h3 a:hover {
  color: #3EC4FF !important;
}

.cke_skin_kama .cke_contents  {   height: 600px !important;}

img {border: none;}

input[type="submit"] {font-size: 14px; border: none; background-color:#0066ff; color: white; padding: 2px 40px 2px 40px; cursor: pointer;}

hr  {margin-top: 5px; margin-bottom: 15px; color: #949494; background-color:  #949494;  }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #3EC4FF; }
/*
a:hover {color:#00ae4d}
*/
.vk {
  height: 22px;
  width: 22px;
  background-image: url('/images/vk.png');
  display: inline-block;
  margin: 8px 5px;
}

.vk:hover {
  background-image: url('/images/vk_color.png');
}

.fb {
  height: 22px;
  width: 22px;
  background-image: url('/images/facebook.png');
  display: inline-block;
  margin: 8px 5px;
}

.fb:hover {
  background-image: url('/images/facebook_color.png');
}

.tw {
  height: 22px;
  width: 22px;
  background-image: url('/images/twitter.png');
  display: inline-block;
  margin: 8px 5px;
}

.tw:hover {
  background-image: url('/images/twitter_color.png');
}

.bs {
  height: 22px;
  width: 22px;
  background-image: url('/images/blogspt.png');
  display: inline-block;
  margin: 8px 5px;
}

.bs:hover {
  background-image: url('/images/blogspot_color.png');
}

.footer_text{
  margin-top: 8px;
  margin-left: 50px;
  float: left;
}
.clear {float: none; clear: both;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.carrier {margin: 0 auto; width: 860px; padding: 40px 45px 0px 45px;
     -moz-box-shadow: 0px 0px 15px black;
     -webkit-box-shadow: 0px 0px 15px  black;
     box-shadow: 0px 0px 15px  black;
         position: relative;
     background: url('/images/top_bg.jpg') top left no-repeat white;
     opacity: 0.8;
        

}

.top { height: 111px;
       color: #808285;
      
       position: relative;
      font-family: Tahoma,Arial,sans-serif,Helvetica;
    /*  background: url('/images/shapka.jpg') 0px 0px no-repeat; */
}

.toplogo {position: absolute; top: -35px; left: 0px;}

.topphone {
    color: #949494;
    font-size: 18px;
    left: 348px;
    position: absolute;
    top: 81px;
    font-family: Arial, Tahoma,sans-serif,Helvetica;
    font-size: 17px;
}

.main_menu {
    height: 27px;
    line-height: 27px;
    background:url('/images/menu_back.jpg') top left repeat-x;
    color: white; 
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    position: relative;
    font-family: Trebuchet MS;
    font-size: 16px;

}

.main_menu a {color: white; margin-right: 10px; margin-left: 10px; text-decoration: none; }
.main_menu span {color: white; margin-right: 5px; margin-left: 5px; text-decoration: none; font-weight: bold;}
.main_menu a:hover {text-decoration: underline;}
span.main_menu_act , a.main_menu_act { font-weight: bold; color: #FFFF9F;}

.left_menu {
    float: left;
    width: 200px;
}
.left_menu ul li{list-style-type:  none; margin-left: 10px; list-style:  none; margin-bottom: 8px; margin-top: 5px; position: relative;}

.left_menu ul li a , .left_menu ul li span {color: #808285; text-decoration: none; font-size: 12px;}

.left_menu ul li a:hover {color: #00b6ff; text-decoration: none;}

.left_menu ul li .act {color: #00b6ff; text-decoration: none; }

.left_menu_title {
    background-color: #808285;
    color: white;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
}

.left_menu_link {
    background-color: white;
    margin-bottom: 9px;
    padding: 5px 0px 5px 10px;
    position: relative;
    font-size: 13px;
}

.left_menu_link a  , .subm {
    color: #6f6f6f;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}
.left_menu_link a:hover , .subm:hover{
    color: #3EC4FF;
}

.left_menu_link_act{
    background: url('/images/left_menu_act.jpg') 0px 0px repeat-x #0066ff;
    margin-bottom: 9px;
    padding: 7px 13px 7px 10px;
    position: relative;
    font-size: 13px;
    line-height: 15px;
}


.left_menu_link_act a , .left_menu_link_act span , .left_menu_link_act span:hover{
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.left_menu_link_act .sel2 {display: none;}

.sel {
    color: #00ae4d;
    font-weight: bold;
    right: 3px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.sel2 {
    color: #808285;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: -5px;
    top: 5px;
}

.left_submenu_ul {
    background-color: #EAF9FF;
    margin-top: -9px;
    padding: 3px;
}


.footer {
    text-align: center;
    color: #808285;
    font-size: 10px;
    width: 860px;
    padding-bottom: 10px;
    height: 40px;
    margin: 15px auto 0px;
    border-top: 1px solid #0066FF;
   
}

.footer span {margin-right: 40px;}
.footer span img {position: relative; top: 11px; margin-right: 10px;}

.content {
    display: inline-block;
    padding: 0px 10px 10px 10px;
    margin-left: 10px;
    min-height: 600px;
    width: 630px;
    margin-top: 0px;
}

.content ol , .content ul { list-style-position:  inside;}
.content ol ul, .content ul ul {margin-left: 20px;}


.index_content{
    display: inline-block;
    padding: 0px 10px 10px 10px;
    margin-left: 10px;
    min-height: 600px;
    min-width: 680px;
    max-width: 840px;

}

.content h1 {border-bottom: 2px solid #0066ff; padding-bottom: 5px; line-height: 22px; font-weight: normal; }

.content p img {float: left; margin: 0px 15px 15px 0px; display: inline-block;}
.content p a {color: #3EC4FF;}

.content p {display: block; margin-bottom: 5px; clear: both;}

.support {
    position: absolute;
    right: 0px;
    top: -20px;
    color:#949494;
    font-size: 11px;
    font-family: Trebuchet MS;
}
.support a {color:white; font-size: 12px;}

.top_home , .top_struct , .top_feed { position: absolute; top: 10px; width: 25px; height: 25px; text-decoration: none;}

.top_home{ right: 70px; background: url('/images/home.gif') top left no-repeat; }
.top_struct{right: 35px; background: url('/images/struct.gif') top left no-repeat; }
.top_feed{right: 0px; background: url('/images/letter.gif') top left no-repeat; }

.top_home:hover{ background: url('/images/home_a.gif') top left no-repeat; }
.top_struct:hover{ background: url('/images/struct_a.gif') top left no-repeat; }
.top_feed:hover{background: url('/images/letter_a.gif') top left no-repeat; }

.rassilka, .rassilka_en {
    position: absolute;
    right: 0;
    top: 63px;
    font-size: 7px;
    font-family: Trebuchet MS;
    width: 235px;
}

.rassilka input[type="text"], .rassilka_en input[type="text"] {
    background: url("/images/subs_bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 18px;
    padding-left: 5px;
    position: absolute;
    width: 156px;
}



.rassilka input[type="submit"] {
    background: url("/images/subs_butt.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 18px;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 73px;
}

.rassilka_en input[type="submit"] {
    background: url("/images/subs_butt_en.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 18px;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 73px;
}

.rassilka span, .rassilka_en span {position: relative; top: 20px;}

.tree { padding: 10px;}
.tree h3 a { color: white; text-decoration: none;}
.tree h3 a:hover {text-decoration: underline;}
.tree h3 {background-color:#ed1c24; line-height: 20px; height: 20px; margin-top: 10px; padding: 5px;}

.tree h4 a { color: #ce181e; text-decoration: none;}
.tree h4 a:hover {text-decoration: underline;}
.tree h4 {}
.content .tree ol, .content .tree ul {list-style-position: outside;}
.tree ol li:hover a {text-decoration: underline }

.edit_menu {}

.edit_menu input[type="text"] { width: 400px; margin-bottom: 10px;}
.edit_menu select { min-width: 200px; margin-bottom: 10px;}
.edit_menu textarea { width: 830px; height: 200px; margin-bottom: 10px;}
.edit_menu p {padding-top: 10px; border-top: 1px dashed #808285; }

.add_user_title {
    background-color: #ce181e;
    color: white;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}


.add_user {
    border: 1px solid #ce181e;
    color: #808285;
    margin-bottom: 20px;
    padding: 10px;
}


.add_user p, .add_info p {
    margin-bottom: 20px;
}
.red {
    color: red;
}


.add_user input {
    border: 1px solid #FF0000;
    margin-right: 3px;
    padding: 3px;
    width: 400px;
}

.add_user td, .add_info td {
    padding: 5px;
}

.add_user tr.odd, .add_info tr.odd {
    background-color: #e6e7e8;
}


#user_soglasen {
    width: 20px;
}

.add_user .submit, .add_info input[type="submit"] {
    background-color: #ce181e;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
}


.add_user p, .add_info p {
    margin-bottom: 20px;
}


#modul {margin-top: 20px; }

#feedback{}

#feedback label {display: block;  margin-bottom: 5px; font-weight: bold;}
#feedback input[type="text"] {width: 400px; display: block;  margin-bottom: 20px; background-color:  #e6e7e8; border: 1px solid #00ae4d; padding: 2px; }

#feedback textarea {width: 600px; height: 200px; display: block;  margin-bottom: 20px; background-color:  #e6e7e8; border: 1px solid #00ae4d; padding: 5px;  }

#feedback input[type="submit"] {width: 100px; display: block;  margin-bottom: 20px; }

.clear_line {float: none; clear: both; border-bottom: 1px solid #0066FF; margin-bottom: 20px;}


.picdiv {display: inline-block; margin: 10px;}

#search_box {
    background-color: #EAF9FF;
    bottom: -66px;
    box-shadow: 0 0 9px #909295;
    color: #808285;
    height: 25px;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 273px;
    z-index: 200;
}



#search_box input[type="text"] {
    background: url("/images/left_search.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 22px;
    left: 0;
    padding-left: 9px;
    position: absolute;
    top: 0;
    width: 211px;
}



#search_box button[type="submit"] {
    background: url("/images/butt_search.png") no-repeat scroll left top transparent;
    border: 0 none;
    cursor: pointer;
    height: 22px;
    left: 219px;
    position: absolute;
    top: 0;
    width: 52px;
}

.press_box2 {
  width: 30%;
  float: left;
  margin-right: 18px;
  margin-left: 18px;
}

.press_box2 h1 a{
  text-decoration: underline;
}

.press_box_ind img {height: 100px !important; float: left !important; margin-right: 15px !important;}

.table_spam {margin: 15px;}

.table_spam th {background-color: #CE181E; color: white; padding: 5px; }
.table_spam td {padding: 5px; border-bottom: 1px dashed  #FF0000;}

.smi_nophoto { padding-bottom: 20px;}
.content .smi_nophoto img {display: none}



.en_ru {
    position: absolute;
    right: 107px;
    top: 12px

}



.en_ru a {
    color: #8FD7A1;
    font-size: 20px;
    text-decoration: none;
}

#booking_form {
  margin-top: 20px;
  float: left;
  width: 250px;
  vertical-align: top;
  display: block;
  background-color: #E0FFFF;
  padding: 20px;
  margin-bottom: 20px;
}

#consultation_form {
  margin-top: 20px;
  float: right;
  width: 250px;
  display: block;
  vertical-align: top;
  background-color: #E0FFFF;
  padding: 20px;
}

#booking_form h2, #consultation_form h2 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #919396;
  font-size: 13px;
}

#booking_form p, #consultation_form p {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #919396;
  font-size: 10px;
  margin-left: 0px;
}

#booking_form label, #consultation_form label {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #919396;
  font-size: 12px;
  margin-left: 0px;
}

.pg_tab td, .pg_tab th {padding: 5px;}


.rounded {border-radius: 7px 7px 7px 7px;}

.zakaz input[type="text"], textarea {background-color:  #dff1ff; }

.informers {float: right;}