<h1>Listing users</h1>

<table>
  <tr>
    <th>Mail</th>
    <th>Fname</th>
    <th>Pname</th>
    <th>Sname</th>
    <th>Phone</th>
    <th>Company</th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th>Email confirm</th>
    <th>Spam</th>
    <th>Role</th>
    <th>City</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.mail %></td>
    <td><%=h user.fname %></td>
    <td><%=h user.pname %></td>
    <td><%=h user.sname %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.company %></td>
    <td><%=h user.hashed_password %></td>
    <td><%=h user.salt %></td>
    <td><%=h user.email_confirm %></td>
    <td><%=h user.spam %></td>
    <td><%=h user.role %></td>
    <td><%=h user.city %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>