<p>
  <b>Mail:</b>
  <%=h @user.mail %>
</p>

<p>
  <b>Fname:</b>
  <%=h @user.fname %>
</p>

<p>
  <b>Pname:</b>
  <%=h @user.pname %>
</p>

<p>
  <b>Sname:</b>
  <%=h @user.sname %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Company:</b>
  <%=h @user.company %>
</p>

<p>
  <b>Hashed password:</b>
  <%=h @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p>

<p>
  <b>Email confirm:</b>
  <%=h @user.email_confirm %>
</p>

<p>
  <b>Spam:</b>
  <%=h @user.spam %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>

<p>
  <b>City:</b>
  <%=h @user.city %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>