<% @news_items = NewsItem.find :all ,:order=>'id desc' %>

<% @news_items.each do |news_item| %>
<% if ru? && news_item.content != '' || !ru? && news_item.content_en != '' %>
<div class="news_item_box">
  <span style="float: right; margin-top: 35px;"> <%= news_item.created_at.strftime("%d")+'.'+ news_item.created_at.strftime("%m")+'.'+ news_item.created_at.strftime("%Y")%> </span>
   <span style="float: right; margin-right: 20px;"> <%#= news_item.magazin  %> </span>
<h2>
<%=link_to news_item.title , {:controller=>'main' ,:action=>'news_item' ,:id=>news_item.id}, :style => "width: 550px" if ru?%>
<%=link_to news_item.title_en , {:controller=>'main' ,:action=>'news_item' ,:id=>news_item.id}, :style => "width: 550px" unless ru?%>
</h2>

<p>
 <%=  news_item.notice if ru?%>
 <%=  news_item.notice_en unless ru?%>
 <br/>
  <%=link_to 'читать далее...' , :controller=>'main' ,:action=>'news_item' ,:id=>news_item.id if ru?%>
  <%=link_to 'read more...' , :controller=>'main' ,:action=>'news_item' ,:id=>news_item.id unless ru?%>

</p>

<div class="clear_line"> </div>
</div>
<% end %>
<% end %>