
<div class="zakaz" id ="zakaz">

  <% remote_form_for :zakaz , :url => {:controller => 'main' , :action =>'zakaz'} do |f|%>

<table cellpadding="3" border="0">
 <tbody>
 <tr>
   <td width="25%">Компания:</td>
   <td width="75%">
     <%= f.text_field :company , :style=>"width:540px;"%>
   </td>
 </tr>
 <tr>
   <td><strong>Мобильный</strong> телефон: <font color="#ff0000">*</font></td>
   <td>
     <%= f.text_field :m_phone , :style=>"width:540px;"%>
   </td>
 </tr>
 <tr>
   <td>Факс:</td>
   <td>
     <%= f.text_field :fax , :style=>"width:540px;"%>
   </td>
 </tr>
 <tr>
   <td>E-mail: <font color="#ff0000">*</font></td>
   <td>
     <%= f.text_field :mail , :style=>"width:540px;"%>
   </td>
 </tr>
 <tr>
   <td>Контактное лицо: <font color="#ff0000">*</font></td>
   <td>
     <%= f.text_field :person , :style=>"width:540px;"%>
   </td>
 </tr>
 </tbody>
</table><br/>

<div style="margin: 10px 0 5px 0;">
<span style="font-weight: bold; margin: 10px 0 0 0;">Количество пассажиров: </span>
<select name="passengers"  id="persons1">
<option selected="selected" value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
</select>
</div>


<div id="pass">
<table>
 <tbody><tr><th>№</th>
 <th>Ф.И.О. <font color="#ff0000">*</font></th>
 <th>Дата рождения</th>
  </tr><tr>
   <td style="WIDTH: 3%">1</td>
   <td style="WIDTH: 80%">
     <input type="text"  name="zakaz[name-1]" id="zakaz_name-1" style="WIDTH: 100%"/>
   </td>
   <td style="WIDTH: 17%">
     <input type="text"  name="zakaz[birthdate-1]" id="zakaz_birthdate-1" style="WIDTH: 100%"/>
   </td>
 </tr>
 </tbody></table>
</div>

        <%= observe_field "persons1",
          :url => {:controller => 'main' , :action => "update_passenger", :id => '' },
          :on => "onchange",
          :update => "pass",
          :with => "'quant=' + value" %>


<br/>


<table cellspacing="1" cellpadding="3" style="width:100%">
 <tbody>
   <tr><th>Пункт отправления  <font color="#ff0000">*</font></th>
 <th>Пункт назначения <font color="#ff0000">*</font></th>
 <th>Дата оказания услуги <font color="#ff0000">*</font></th>
   </tr>

  <tr align="center">
   <td>
     <%= f.text_field :departure %>
   </td>
   <td>
     <%= f.text_field :destination %>
   </td>
   <td>
     <%= f.text_field :date %>
   </td>
  </tr>
   <tr>
 <th>Номер рейса <font color="#ff0000">*</font></th>
 <th>Время вылета</th>
 <th>Время прилета</th>
  </tr>
  <tr>
   <td>
     <%= f.text_field :flight_num %>
   </td>
   <td>
     <%= f.text_field :flight_time %>
   </td>
   <td>
     <%= f.text_field :arrival_time %>
   </td>
 </tr>
 </tbody></table>
<br/>

<table cellpadding="3" border="0">
 <tbody>
   <tr>
   <td width="37%">Города, в которых бронировать услугу: <font color="#ff0000">*</font></td>
   </tr>
   <tr>
   <td> <%= f.text_field :city , :style=>"width: 100%"%> </td>
 </tr>
 <tr>
  <td>Марки и номера автомобилей (только при заказе встречи и сопровождении сотрудником "ВИП Пулково"):</td>
 </tr>
 <tr>
  <td> <%= f.text_field :cars  , :style=>"width: 100%"%>  </td>
 </tr>
</tbody></table>

<div style="margin: 20px 0 5px 0;"> <span style="font-weight: bold; margin: 10px 0 0 0px;">Форма оплаты: </span>
  <%= f.select_tag(:zakaz_payment, options_for_select([['безналичный расчет','безналичный расчет' ], ['пластиковая карта','пластиковая карта']]) , :name=>'zakaz[payment]') %>
</div><br/>

<span style="font-weight: bold; margin: 10px 0 0 0px;">Дополнительная информация (реквизиты компании, Ваши пожелания...):</span>
<div style="width: 100%;">
  <%= f.text_area :dop , :style=>'height: 50px;width: 100%' %>
</div>

<font color="#ff0000">*</font> - Поля, обязательные для заполнения
<br/>
<br/>
<br/>


  <%= f.submit "Отправить" %>



<% end %>




          </div>

