<h1>Заказы</h1>

<%= will_paginate @orders  if @orders and @orders.size >3%>

<% @orders.each do |order| %>
<h2> <%= order.created_at.strftime("%x") %>, номер <%=order.id  %>  </h2>
<table style="border: 1px green solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="1" >
  <tr style="background-color:  lightgoldenrodyellow;"> <td style="width: 200px;"> Компания:</td> <td><%=h order.company %></td> </tr>
  <tr> <td> Мобильный телефон:</td> <td><%=h order.m_phone %></td> </tr>
  <tr style="background-color:  lightgoldenrodyellow;"> <td> Факс:</td> <td><%=h order.fax %></td> </tr>
  <tr> <td> E-mail:</td> <td><%=h order.mail %></td> </tr>
  <tr style="background-color:  lightgoldenrodyellow;"> <td> Контактное лицо:</td> <td><%=h order.person %></td> </tr>

  <% if  order.passenger.any?%>
  <tr><td colspan="3"><h3> Пассажиры:</h3> </td>  </tr>

  <tr><td colspan="3">
   <table  border="1" style="width:100%; border-collapse:  collapse;" >
     <tr> <th>ФИО</th> <th>Дата рождения </th> </tr>
   <% order.passenger.each do |pass| %>
     <tr><td> <%=pass.name%></td> <td  style="width: 150px;"> <%=pass.birthdate%></td> </tr>
   <% end %>
   </table>
    </td>  </tr>
    <% end %>
  <tr> <td> Пункт отправления:</td> <td><%=h order.departure %></td> </tr>
  <tr style="background-color:  lightgoldenrodyellow;"> <td> Пункт назначения :</td> <td><%=h order.destination %></td> </tr>
  <tr> <td> Дата оказания услуги:</td> <td><%=h order.date %></td> </tr>
  <tr style="background-color:  lightgoldenrodyellow;"> <td> Номер рейса:</td> <td><%=h order.flight_num %></td> </tr>
  <tr> <td> Время вылета:</td> <td><%=h order.flight_time %></td> </tr>
  <tr style="background-color:  lightgoldenrodyellow;"> <td> Время прилета:</td> <td><%=h order.arrival_time %></td> </tr>
  <tr> <td> Города, в которых бронировать услугу:</td> <td><%=h order.city %></td> </tr>
  <tr style="background-color:  lightgoldenrodyellow;"> <td> Марки и номера автомобилей :</td> <td><%=h order.cars %></td> </tr>
  <tr> <td> Форма оплаты:</td> <td><%=h order.payment %></td> </tr>
  <tr style="background-color:  lightgoldenrodyellow;"> <td> Дополнительная информация</td> <td><%=h order.dop %></td> </tr>
  <tr> <td><%= link_to 'Удалить', order, :confirm => 'Вы уверены?', :method => :delete %><%#= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Распечатать', {:action => 'print' , :id => order.id}  , :popup=>true , :style=>"color: black;" %> </td>

  </tr>
  </table>
<% end %>


<br />

<%= will_paginate @orders  if @orders and @orders.size >3%>