<p>
  <b>Company:</b>
  <%=h @order.company %>
</p>

<p>
  <b>M phone:</b>
  <%=h @order.m_phone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @order.fax %>
</p>

<p>
  <b>Mail:</b>
  <%=h @order.mail %>
</p>

<p>
  <b>Person:</b>
  <%=h @order.person %>
</p>

<p>
  <b>Departure:</b>
  <%=h @order.departure %>
</p>

<p>
  <b>Destination:</b>
  <%=h @order.destination %>
</p>

<p>
  <b>Date:</b>
  <%=h @order.date %>
</p>

<p>
  <b>Flight num:</b>
  <%=h @order.flight_num %>
</p>

<p>
  <b>Flight time:</b>
  <%=h @order.flight_time %>
</p>

<p>
  <b>Arrival time:</b>
  <%=h @order.arrival_time %>
</p>

<p>
  <b>City:</b>
  <%=h @order.city %>
</p>

<p>
  <b>Cars:</b>
  <%=h @order.cars %>
</p>

<p>
  <b>Payment:</b>
  <%=h @order.payment %>
</p>

<p>
  <b>Dop:</b>
  <%=h @order.dop %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>