<h1>Просмотр Новости </h1>

<%= link_to 'Редактировать', edit_news_item_path(@news_item) %> |
  <%= link_to 'Вернуться к редактированию новостей', news_items_path %> |
<%= link_to 'Вернуться в главное меню', :controller=>'admin' %>

<h1><%=@title %>  </h1>

<div class="press_box" style="width: 680px;">
  


   <h4> Анонс  </h4>
<p style="padding: 5px; border: 1px solid #808285;">
 <%=  @news_item.notice%>
 </p>

<span style="float: right;"> <%= @news_item.created_at.strftime("%d")+'.'+ @news_item.created_at.strftime("%m")+'.'+ @news_item.created_at.strftime("%Y")%> </span>
<h2> <%= @news_item.title  %>  </h2>
<p>
 <%=  @news_item.content%>
 </p>

<div class="clear_line"> </div>
</div>

<hr/>


<div class="press_box" style="width: 680px;">



   <h4> Анонс  </h4>
<p style="padding: 5px; border: 1px solid #808285;">
 <%=  @news_item.notice_en%>
 </p>

<span style="float: right;"> <%= @news_item.created_at.strftime("%d")+'.'+ @news_item.created_at.strftime("%m")+'.'+ @news_item.created_at.strftime("%Y")%> </span>
<h2> <%= @news_item.title_en  %>  </h2>
<p>
 <%=  @news_item.content_en%>
 </p>

<div class="clear_line"> </div>
</div>


<hr/>

<%= link_to 'Редактировать', edit_news_item_path(@news_item) %> |
  <%= link_to 'Вернуться к редактированию новостей', news_items_path %> |
<%= link_to 'Вернуться в главное меню', :controller=>'admin' %>