<p>
  <b>Title:</b>
  <%=h @menu_l3.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @menu_l3.url %>
</p>

<p>
  <b>Content:</b>
  <%=h @menu_l3.content %>
</p>

<p>
  <b>Vis:</b>
  <%=h @menu_l3.vis %>
</p>

<p>
  <b>Menu l2:</b>
  <%=h @menu_l3.menu_l2_id %>
</p>


<%= link_to 'Edit', edit_menu_l3_path(@menu_l3) %> |
<%= link_to 'Back', menu_l3s_path %>