<%= f.error_messages %>

    <p style="color: red;">
    <%= f.label 'меню включено'  %>
    <%= f.check_box :vis %>
  </p>

  <p>
    <%= f.label 'заголовок (название)' %> <br />
    <%= f.text_field :title  %>
  </p>
  <p>
    <%= f.label 'наименование для адресной строки' %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label 'контент' %><br />
    <%= f.text_area :content %>
  </p>


  <p>
    <%= f.submit 'Сохранить' %>
  </p>