<div class="footer">
  <div class="footer_text">
  <span>
    Пулково VIP. &copy;  
  </span>
  <span>
    Пулково VIP. VIP сервис в аэропортах: вип залы, бизнес-залы ЗОЛД и другие виды vip услуг.
  </span>
  </div>
    <span>
      <a class="vk" target="_blank" href=""></a>
      <a class="fb" target="_blank" href=""></a>
      <a class="tw" target="_blank" href=""></a>
      <a class="bs" target="_blank" href=""></a>
    </span>
</div>
