
<div  class="left_menu " >
  <!--
  <div class="left_menu_title">
<%#= @act_menu.title if ru?%>
<%#= @act_menu.title_en unless ru?%>
  </div>
-->
<% @menu_l2 =  @act_menu.menu_l2.sort{|a,b| a.ord <=> b.ord } %>
<% @menu_l2.each do |submenu| %>

<% if submenu.vis %>
    <% if @act_menu_l2 and (submenu.url == @act_menu_l2.url or submenu.url_en == @act_menu_l2.url_en) %>
      <div class="left_menu_link_act rounded">
      <% if submenu.menu_l3.map{|x| x if x.vis}.size != 0 %>
      <span class="subm"  onclick="tog('s<%= submenu.id %>')"> <%= if ru? then submenu.title else submenu.title_en end %>  </span>
      <span class="sel2"> ▼  </span>
      <% else %>
        <% if ru? %>
      <a href="/<%=@act_menu.url %>/<%=submenu.url %>"  > <%=submenu.title %> <span class="sel"> <img src="/images/arrow.png" /> </span></a>
        <% else %>
        <a href="/<%=@act_menu.url_en %>/<%=submenu.url_en %>"  > <%=submenu.title_en %> <span class="sel"> <img src="/images/arrow.png" /> </span></a>
        <% end %>
      <% end %>
      </div>
    <% else %>
      <div class="left_menu_link rounded">
      <% if submenu.menu_l3.map{|x| x if x.vis}.size != 0 %>
        <span class="subm" onclick="tog('s<%= submenu.id %>')"> <%= if ru? then submenu.title else submenu.title_en end %>  </span> <span class="sel2"> ▼  </span>
      <% else %>
        <% if ru? %>
        <a href="/<%=@act_menu.url %>/<%=submenu.url %>"> <%=submenu.title %> </a>
        <% else %>
        <a href="/<%=@act_menu.url_en %>/<%=submenu.url_en %>"> <%=submenu.title_en %> </a>
        <% end %>
      <% end %>
      </div>
    <% end %>

    <% if submenu.menu_l3.map{|x| x if x.vis}.size != 0 %>
    <ul style="<%= if @act_menu_l3 and (@act_menu_l3.menu_l2.url == submenu.url  or @act_menu_l3.menu_l2.url_en == submenu.url_en) then 'display: block;' else 'display: none;' end  %>" id="s<%= submenu.id %>" class="left_submenu_ul">
      <% submenu.menu_l3.each do |menu3| %>
      <li>
        <% if menu3.vis %>
          <% if @act_menu_l3 and (menu3.url == @act_menu_l3.url or menu3.url_en == @act_menu_l3.url_en) %>
          <span class="act"> <%= if ru? then menu3.title else menu3.title_en end%> </span> <span class="sel"> <img src="/images/arrow_blue.png" /> </span>
          <% else %>
              <% if ru? %>
              <a href="/<%=@act_menu.url %>/<%=submenu.url %>/<%=menu3.url %>"> <%=menu3.title %>  </a>
              <% else %>
              <a href="/<%=@act_menu.url_en %>/<%=submenu.url_en %>/<%=menu3.url_en %>"> <%=menu3.title_en %>  </a>
              <% end %>
          <% end %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>


<% end %>
<% end %>
</div>