<div class="main_menu rounded">
 <div class="floatleft">

<% if @mp == 1 %>
<%= link_to 'Главная' , '/' , :class=>'main_menu_act' , :style=>'float: left;'%>
<% else %>
<%= link_to 'Главная' , '/' , :style=>'float: left;'%>
<% end %>
    |
 </div>


<% @menu.each do |menu| %>


 <div class="floatleft">
<div class="ddheader" id="a<%=menu.id%>-ddheader" onmouseover="ddMenu('a<%=menu.id%>',1)" onmouseout="ddMenu('a<%=menu.id%>',-1)"> 
  <% if ru? %>
    <%# if menu.menu_l2 %>
      <%# @menu_l2 =  menu.menu_l2.sort{|a,b| a.ord <=> b.ord } %>
    <!-- <a href ="/<%#=menu.url%>/<%#=@menu_l2[0].url if @menu_l2[0]%>"> <%#=menu.title -%> </a> -->
      <%# else %>
      <a href="/<%=menu.url %>" class="<%= 'main_menu_act'  if @act_menu and (menu.url == @act_menu.url or menu.url_en == @act_menu.url_en) %>" style="font-family: Arial"><%=menu.title -%></a>
      <%# end %>
  <% else %>
      <% if menu.menu_l2 %>
      <% @menu_l2 =  menu.menu_l2.sort{|a,b| a.ord <=> b.ord } %>
     <a href ="/<%=menu.url_en%>/<%=@menu_l2[0].url_en%>"> <%=menu.title_en -%> </a>
      <% else %>
      <a href="/<%=menu.url_en %>" class="<%= 'main_menu_act'  if @act_menu and (menu.url_en == @act_menu.url_en or menu.url == @act_menu.url)%>" style="font-family: Arial"><%=menu.title_en -%></a>
      <% end %>
  <% end %>
|
  </div>


  <div class="ddcontent" id="a<%=menu.id%>-ddcontent" onmouseover="cancelHide('a<%=menu.id%>')" onmouseout="ddMenu('a<%=menu.id%>',-1)">
    <div class="ddinner">
      <ul>
        <% @menu_l2 =  menu.menu_l2.sort{|a,b| a.ord <=> b.ord } %>
        <% @menu_l2.each do |submenu| %>
        <% if submenu.vis %>
        <li class="underline">
          <% if ru? %>
          <a href ="/<%=menu.url%>/<%=submenu.url%>"> <%=submenu.title%> </a>
          <% else %>
          <a href ="/<%=menu.url_en%>/<%=submenu.url_en%>"> <%=submenu.title_en%> </a>
          <% end %>
        </li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>


</div>

<% end %>





  

   
<!--
    <span style="float: right; cursor: pointer; margin-top: 4px; " onclick="tog('search_box')" > <%= image_tag('/images/search.png')  %>  </span>
    <div id="search_box" style="display: none;"  onmouseover="show_id('search_box')" >
      <div style="position: relative;" >
      <form name="search_form" method="get" action="/search/index" id="ser2" onmouseover="show_id('search_box')">
        <input type="text"  name="search" id="s_inp" onclick="clear('s_inp')" onmouseover="show_id('search_box')" value="<%= if session[:search] then session[:search] else 'Введите фразу для поиска ...' end %>" />
        <button type="submit" > </button>
        
      </form>
      </div>
    </div>
-->
</div>

