<div class="main_menu">

<%= link_to 'Дерево сайта' , {:controller=>'admin', :action=>'index' , :id=>nil} , :style=>'float: left;'%>
  <span style="float: left;"> | </span>
<%= link_to 'Главная страница' , {:controller => 'admin',:action=>'main_page'} , :style=>'float: left;'%>





 <div class="floatleft">
  <div class="ddheader" id="a1-ddheader" onmouseover="ddMenu('a1',1)" onmouseout="ddMenu('a1',-1)">
    | <%= link_to 'Меню' , {:action=>'index' } %>
     
  </div>
  <div class="ddcontent" id="a1-ddcontent" onmouseover="cancelHide('a1')" onmouseout="ddMenu('a1',-1)">
    <div class="ddinner">
      <ul>
        <%  @menu.each do |submenu| %>
        <li class="underline">
          <%= link_to submenu.title , {:controller=>'admin' , :action=>'index' , :id=>submenu.id} %>
         
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!--
 <div class="floatleft">
  <div class="ddheader" id="a2-ddheader" onmouseover="ddMenu('a2',1)" onmouseout="ddMenu('a2',-1)">
    | <%#= link_to 'СМИ' , {:controller=>'pressrelizs' } %>

  </div>
  <div class="ddcontent" id="a2-ddcontent" onmouseover="cancelHide('a2')" onmouseout="ddMenu('a2',-1)">
    <div class="ddinner">
      <ul>
           <li class="underline"> <%#= link_to 'Прессрелизы' , {:controller=>'pressrelizs' }  %> </li>
           <li class="underline"> <%#= link_to 'Сми' , {:controller=>'smis' }  %> </li>
           <li class="underline"> <%#= link_to 'Новости' , {:controller=>'news_items' }  %> </li>
           <li class="underline"> <%#= link_to 'Фотобанк' , {:controller=>'photos' }  %> </li>

      </ul>
    </div>
  </div>
</div>
-->
  <span style="float: left;"> | </span>
 <%= link_to 'Новости' , {:controller=>'news_items' , :action=>'index' } , :style=>'float: left;'%>

  <span style="float: left;"> | </span>


<%= link_to 'Заказы' , {:controller=>'orders' , :action=>'index' } , :style=>'float: left;'%>
<%#= link_to 'Рассылки' , {:controller=>'spams' , :action=>'index' } , :style=>'float: left;'%>

</div>