    <% remote_form_for :mail , :url=>{:controller=>'subs' , :action=>'subs_mail'} , :update=>'subs' do |f| %>
      <%= f.text_field :mail , :value => @mess%>
      <%= f.submit '' %>
    <% end %>
      <span style="font-size: 11px;">введите e-mail чтобы подписаться на новости </span>