  <div class="top">



    <div class="rassilka" style="color: red; font-size: 24px;">
Администрирование сайта
    </div>


    <a href="/" style="position: absolute; top: -35px; left: 0px;">
    <img src="/images/logo_vip.png" alt="Главная" />
    </a>



  </div>