<% if @user %>

Компания:&nbsp;<%=@user.company%> <br />
ФИО:&nbsp;<%=@user.sname + ' ' +  @user.fname + ' ' + @user.pname %> <br />
Телефон:&nbsp;<%=@user.phone%><br />
<% end %>
<br/> <br/>
E-mail:&nbsp;<%=@feedback.mail %><br />
<b>Сообщение: </b> <br/>
<%=  @feedback.message %>
