Регистрация на корпоративном сайте компании Живой офис <br/>
corporate.zhivojoffice.ru. <br/>  <br/>

E-mail(Логин):<%= @user.mail %> <br/>
Пароль:<%= @pass%> <br/>
Фамилия:<%=@user.sname%> <br/>
Имя:<%= @user.fname %> <br/>
Отчество:<%= @user.pname %> <br/>
Телефон:<%=@user.phone%> <br/>
Название организации:<%=@user.company%> <br/>

 <br/> <br/> <br/>


Желаем Вам приятного дня <br/>


Искренне Ваш, <br/>

corporate.zhivojoffice.ru <br/>


(http://corporate.zhivojoffice.ru).

