<h1 style="text-align: center;">З А Я В К А</h1>



<h2><%= @order.created_at.strftime("%x") %>  </h2>
<table style="border: 2px black solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="2" >
  <tr> <td style="font-weight: bold; width: 200px;"> Компания:</td> <td><%=h @order.company %></td> </tr>
  <tr> <td style="font-weight: bold;"> Мобильный телефон:</td> <td><%=h @order.m_phone %></td> </tr>
  <tr> <td style="font-weight: bold;"> Факс:</td> <td><%=h @order.fax %></td> </tr>
  <tr> <td style="font-weight: bold;"> E-mail:</td> <td><%=h @order.mail %></td> </tr>
  <tr> <td style="font-weight: bold;"> Контактное лицо:</td> <td><%=h @order.person %></td> </tr>
</table>


<% if  @order.passenger.any?%>

<table style="border: 1px black solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="1" >
  <tr> <th colspan="3" style="text-align: center;">Пассажиры </th> </tr>
  <tr><th style="width: 20px;">№ </th> <th>ФИО</th> <th style="width: 200px;">Дата рождения </th> </tr>
  <% ff = 0 %>
   <% @order.passenger.each do |pass| %>
  <% ff+=1 %>
    <tr><td><%= ff%> </td><td> <%=pass.name%></td> <td> <%=pass.birthdate%></td> </tr>
   <% end %>
</table>
<% end %>

 <table style="border: 1px black solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="1" >
  <tr> <th style="font-weight: bold;"> Пункт отправления:</th>  <th style="font-weight: bold;"> Пункт назначения :</th> <th style="font-weight: bold;"> Дата оказания услуги:</th> </tr>
  <tr> 
    <td><%=h @order.departure %></td> <td><%=h @order.destination %></td>  <td><%=h @order.date %></td>
  </tr>
  <tr> <th style="font-weight: bold;"> Номер рейса:</th><th style="font-weight: bold;"> Время вылета:</th> <th style="font-weight: bold;"> Время прилета:</th> </tr>
  <tr> <td><%=h @order.flight_num %></td> <td><%=h @order.flight_time %></td>  <td><%=h @order.arrival_time %></td> </tr>
 </table>

<table style="border: 1px black solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="1" >
  <tr> <td style="font-weight: bold; width: 200px;"> Города, в которых бронировать услугу:</td> <td><%=h @order.city %></td> </tr>
</table>

<table style="border: 1px black solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="1" >
  <tr> <td style="font-weight: bold; width: 200px;"> Марки и номера автомобилей :</td> <td><%=h @order.cars %></td> </tr>
</table>

<table style="border: 1px black solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="1" >
  <tr> <td style="font-weight: bold; width: 200px;"> Форма оплаты:</td> <td><%=h @order.payment %></td> </tr>
</table>

<table style="border: 1px black solid; width: 100%; margin-bottom: 15px; border-collapse:  collapse;" border="1" >
  <tr> <td style="font-weight: bold; width: 200px;"> Дополнительная информация</td> <td><%=h @order.dop %></td> </tr>
</table>




