<%= @cont %>

<br/>
<br/>
<br/>
<br/>
<p>Для отказа от подписки пройдите по следующей ссылке:  </p>

<a href="http://corporate.zhivojoffice.ru/subs/reject/?reject=<%=@conf%>">Отказ от получения рассылки</a>