
<h3>Здравствуйте, </h3>
<p>Вы подписались на рассылку корпоративного сайта «Живой офис» </p>
<p>E-mail: <%=@subs.mail %>  </p>
<br/>
<br/>
<br/>
<br/>
<p>Для отказа от подписки пройдите по следующей ссылке:  </p>

<a href="http://corporate.zhivojoffice.ru/subs/reject/?reject=<%=@subs.conf%>">Отказ от получения рассылки</a>