
<p style="color: #808285; font-weight: bold; position:relative; top: -15px;">
  Регистрация
</p>



  <div class="add_user_title" style="width: 682px;">
Пожалуйста авторизируйтесь
</div>

<div class="login_user">


  <br />

    <% form_tag do %>
     
        <p>Логин или E-mail:<br/>
        <%= text_field_tag :mail, params[:mail] , :style=>'width: 400px' %>
      </p>

      <p>
        Пароль:<br/>
        <%= password_field_tag :password, params[:password]  , :style=>'width: 400px'%>
         </p>
      <br />
     <%#= link_to 'Забыли пароль?', {:controller=>'eml',:action=>'em'} , :class=>'g_link'  %>
 
      
 <div style="margin-top: 20px;">

<%= submit_tag " Войти " , :class=>'submit'  %>

<!--
   &nbsp;&nbsp;
<a href="/login/add_user" style="color:#F88120;position:relative; top:-1px;font-weight:bolder; text-decoration: none; margin-left: 100px;">РЕГИСТРАЦИЯ</a>&nbsp;
-->
</div>

     
    <% end %>


</div>


