<h1>Listing menu_l2s</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Comtent</th>
    <th>Vis</th>
    <th>Menu l1</th>
  </tr>

<% @menu_l2s.each do |menu_l2| %>
  <tr>
    <td><%=h menu_l2.title %></td>
    <td><%=h menu_l2.url %></td>
    <td><%=h menu_l2.comtent %></td>
    <td><%=h menu_l2.vis %></td>
    <td><%=h menu_l2.menu_l1_id %></td>
    <td><%= link_to 'Show', menu_l2 %></td>
    <td><%= link_to 'Edit', edit_menu_l2_path(menu_l2) %></td>
    <td><%= link_to 'Destroy', menu_l2, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New menu_l2', new_menu_l2_path %>