<p>
  <b>Title:</b>
  <%=h @menu_l2.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @menu_l2.url %>
</p>

<p>
  <b>Comtent:</b>
  <%=h @menu_l2.comtent %>
</p>

<p>
  <b>Vis:</b>
  <%=h @menu_l2.vis %>
</p>

<p>
  <b>Menu l1:</b>
  <%=h @menu_l2.menu_l1_id %>
</p>


<%= link_to 'Edit', edit_menu_l2_path(@menu_l2) %> |
<%= link_to 'Back', menu_l2s_path %>