<h1>Рассылки</h1>
<%= link_to "Список адресов для рассылки", '/spams/all_emails'%><br/>
<h2> Количество адресов для рассылки: <%=@addr.size %>  </h2>
<%= link_to 'Создать рассылку', new_spam_path %>
<table class="table_spam">
  <tr>
    <th>Заголовок</th>
    <th>Дата создания</th>
    <th>Разослано</th>
  
    <th>Управление </th>
  </tr>

<% @spams.each do |spam| %>
  <tr>
    <td><%=h spam.title %></td>
    <td> <%=spam.created_at.to_date %> </td>
    <td><%=h spam.delivered %></td>

    <td><%= link_to 'Посмотреть', spam %> |
    <%= link_to 'Редактировать', edit_spam_path(spam) %> |
    <%= link_to 'Удалить', spam, :confirm => 'Точно?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Создать рассылку', new_spam_path if @spams.size > 5%>