<h1>Новая расссылка</h1>

<% form_for(@spam) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Заголовок' %><br />
    <%= f.text_field :title , :style=>'width: 600px;' %>
  </p>

<div>
    <%= f.label 'Текст' %><br />
    <%= f.cktext_area :cont, :toolbar=>'Full',  :width=>'880px', :heigth=>'600px' %>
  </div>
  <p style="margin: 15px;">
    <%= f.label "Отправлено" %>
    <%= f.check_box :delivered %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %> | <%= link_to 'Вернуться', spams_path %>
  </p>
<% end %>

<br/> <br/><br/>