<div onclick="show_id('waiting')">
<%=button_to_remote 'Отправить' ,  :url=>{:action=>'send_spam' , :id=>@spam.id}   %>
 
</div>
 <%=button_to_remote 'Отправить тестовую рассылку' ,  :url=>{:action=>'send_spam' , :id=>@spam.id , :test=>1}   %>

<h2> Количество адресов для рассылки: <%=@addr.size %>  </h2>

<div id="send_spam2"> </div>

<div id="send_spam" style="margin-bottom: 20px; border-bottom: 2px dashed red; font-weight: bold; font-size: 20px; color: green;">
  <div id="waiting" style="display: none;">
    Подождите... 
<img src="/images/waiting.gif"  />
  </div>
</div>


<p>
  <b>Дата:</b>
 <%=@spam.created_at.to_date %>
</p>




<p>
  <b>Заголовок:</b>
  <%=h @spam.title %>
</p>

<div>
  <b>Текст:</b><br/>
  <%= @spam.cont %>
</div>

<p>
  <b>Разослана:</b>
  <%=h @spam.delivered %>
</p>


<%= link_to 'Редактровать', edit_spam_path(@spam) %> |
<%= link_to 'Вернуться', spams_path %>