<h1>Редактирование группы: <%=@photogroup.title %> </h1>

<% form_for :photogroup , :url=>{:controller=>'photos', :action=>'update_group' , :id=> @photogroup.id} do |f| %>


  <%= f.error_messages %>

  <p>
    <%= f.label 'Заголовок' %><br />
    <%= f.text_field :title , :size=>'60'%>
  </p>

  <p>
    <%= f.label 'Описание' %><br />
    <%= f.text_field :notice , :size=>'120'%>
  </p>
  <p>
    <%= f.label 'Заголовок EN' %><br />
    <%= f.text_field :title_en , :size=>'60'%>
  </p>

  <p>
    <%= f.label 'Описание EN' %><br />
    <%= f.text_field :notice_en , :size=>'120'%>
  </p>

  <br/>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>

<%= link_to 'Все Группы', :action => 'index' %>