<h1>Добавление фотографии</h1>

<% form_for(:photo , :url=>{:controller=>'photos', :action=>'create' },:html=>{:multipart => true} ) do |f| %>
<%= f.hidden_field :photogroup_id , :value => params[:id] %>


  <%= f.error_messages %>

  <p>
    <%= f.label 'Файл превью' %><br />
    <%= f.file_field :prw%>
  </p>
  <p>
    <%= f.label 'Фотография' %><br />
    <%= f.file_field :img %>
  </p>
  <p>
    <%= f.label 'Заголовок' %><br />
    <%= f.text_field :title , :size=>'60'%>
  </p>
  <br/>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %>

<%= link_to 'Вернуться', photos_path %>