<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>    <%= @page_title %> </title>
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Корпоративный сайт группы компаний «Живой офис»" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
    <script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
<script type="text/javascript" src="/highslide/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/highslide/highslide.css" />
   <%= stylesheet_link_tag 'main' %>
   <%= stylesheet_link_tag 'dropdown' %>
   <%= javascript_include_tag :defaults  %>
   <%= javascript_include_tag 'dropdown'  %>
   <%#= javascript_include_tag 'jquery-1.3.2.min'  %>
   <%= javascript_include_tag :ckeditor %>



  </head>
<body>
<div class="carrier">
<%= render :partial => '/part/top_admin' %>

<%= render :partial => '/part/main_menu_admin' %>


<p style="color: green"><%= notice %></p>

<div class="content">

<%= yield %>

</div>
<div class="clear"></div>

<%= render :partial => '/part/footer' %>
</div>
</body>
</html>
