<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title> Пулково VIP.   <%= @page_title %> </title>
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Пулково VIP. VIP сервис в аэропортах: вип залы, бизнес-залы ЗОЛД и другие виды vip услуг." />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
   <%= stylesheet_link_tag 'main' %>
   <%= stylesheet_link_tag 'dropdown' %>
   <%= javascript_include_tag :defaults  %>
   <%= javascript_include_tag 'dropdown'  %>
   <%#= javascript_include_tag 'jquery-1.3.2.min'  %>



  </head>
<body>
<div class="carrier rounded" >
<%= render :partial => '/part/top' %>

<%= render :partial => '/part/main_menu' %>
<%= render :partial => '/part/left_menu' if params[:str]%>



<div class="index_content" onclick="hide_id('search_box')">

<%= yield %>

</div>
<div class="clear"></div>

<%= render :partial => '/part/footer' %>
<div class="clear"></div>
</div>


<div class="clear"></div>
</body>
</html>
