<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>  Пулково VIP.  <%= @page_title %> </title>
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Пулково VIP. VIP сервис в аэропортах: вип залы, бизнес-залы ЗОЛД и другие виды vip услуг." />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
   <%= stylesheet_link_tag 'main' %>
   <%= stylesheet_link_tag 'dropdown' %>
   <%= javascript_include_tag :defaults  %>
   <%= javascript_include_tag 'dropdown'  %>
   <%#= javascript_include_tag 'jquery-1.9.1.min'  %>

<script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
<script type="text/javascript" src="/highslide/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/highslide/highslide.css" />

  </head>
<body onload="gallery()">




<div class="carrier rounded">
<%= render :partial => '/part/top' %>
<%= render :partial => '/part/main_menu' %>
<%= render :partial => '/part/left_menu'%>

 <a href="#top_page" id="move_up"  style="position:fixed;  float: none; display: none; clear: both; bottom: 140px; text-decoration: underline;"> Наверх </a>

<div class="content" onclick="hide_id('search_box')">

<a name="top_page"></a>
<div class="highslide-gallery">
<%= yield %>
</div>
</div>
<div class="clear"></div>

<%= render :partial => '/part/footer' %>
</div>

<div class="clear"></div>
</body>
</html>
